<div class="heading">
    <h1>Cloud Drive Api</h1>
    <p>This is the REST API for the Cloud Drive Web App. Where an user can upload and download files as well as share
        them with others.</p>

    <h2>Server is Up and Running</h2>

    <h2>Database Status</h2>
    <div class="dbStatus">
        <div class="dbStatusIndicator {{dbstatus}}"></div>
        MongoDB is {{dbstatus}}
    </div>
</div>


<div class="endpoint-info">
    <h3>Endpoints</h3>
    <h4>Users</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum iste adipisci iusto nemo excepturi
    laboriosam ex rerum earum sit dicta omnis soluta consequuntur numquam perferendis, sapiente unde rem sint?
    <h4>Files</h4>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat suscipit quidem officiis perspiciatis aperiam,
    laborum saepe vitae unde magnam. Esse saepe libero dolores magni illum fugit? Doloribus illo odit possimus.
    <h4>...</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid assumenda enim dolorem corporis labore natus beatae
    asperiores voluptatibus commodi eaque dicta obcaecati, repudiandae distinctio nihil, excepturi quas, corrupti vitae
    fugiat!
</div>