<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News App | Iteso</title>
  <link rel="stylesheet" href="assets/styles/main.css">
</head>

<body>
  <nav id="navbar">
    <h1 id="nav-title">Cloud Drive API</h1>
    <ul>
      <a>
        <li>
          <p>Home</p>
        </li>
      </a>
      <a>
        <li>
          <p>Login</p>
        </li>
      </a>
      <a>
        <li>
          <p>Register</p>
        </li>
      </a>
      <a>
        <li>
          <p>Upload</p>
        </li>
      </a>
    </ul>

  </nav>

  {{{body}}}
</body>

</html>